@import "styles/variables.css";

.container {
  display: flex;
  flex-direction: column;

  width: 100%;

  background-color: var(--color-gray);

  flex: 1;
  justify-content: center;
}

.topbar {
  display: flex;
  flex-direction: row;

  max-height: 70px;

  border: 3px solid var(--color-cape-cod);
  border-radius: 30px;
  background-color: var(--color-orange);

  flex: 1;
}

.board {
  display: flex;

  padding: 5px;

  flex: 1;
  justify-content: center;
}

.cells {
  display: flex;

  width: calc((var(--cell-width) + 2) * 15);

  flex-grow: 0;
  flex-shrink: 1;
  flex-wrap: wrap;
}

.cell {
  display: flex;

  width: var(--cell-width);
  height: var(--cell-width);

  border: 1px solid var(--color-tuna);

  align-items: center;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
}

.type-wall {
  background-color: var(--color-cape-cod);
}

.type-block {
  background-color: var(--color-tuna);
}

.type-free {
  background-color: var(--color-green);
}

.type-blast {
  background-color: var(--color-red);
}
