@import "styles/variables.css";

.container {
  position: absolute;

  width: calc((var(--cell-width) + 2) * 15);
  height: calc((var(--cell-width) + 2) * 13);
}

.relative {
  position: relative;

  display: flex;

  height: 100%;

  flex: 1;
}

.player {
  position: absolute;
  z-index: 2;

  display: flex;

  width: var(--cell-width);
  height: var(--cell-width);

  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 36px;
}
